.loginico{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px burlywood;
}

#csoki-list-container {
    align-items: center;
}

#termek_gombok {
    align-items: center;
    margin: 15px;
}
#imgLogo {
    display: block;
    margin: 0 auto;
}
#my_h5 {
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding-left: 5px;
    text-align: center;
}
.my_li {
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.my_body {
    background-image: url('./csokik.jpg');
    background-size: cover;
}
/* Egyedi stílusok a mozaikhoz */
.csoki-card {
    /* Fix magasság beállítása a mozaik egységességéért */
    min-height: 200px; 
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.csoki-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
/* Színek a csokitípusokhoz */
.card-ét { background-image: url("./etcsoki.jpg"); opacity:0.8;background-size: cover; color: white; } /* Barna */
.card-tej { background-image: url('./tejcsoki.jpg'); opacity:0.8; background-size: cover; color: white; border-color: #A0A0A0; } /* Levendula */
.card-fehér { background-image: url('./fehercsoki.jpg'); opacity:0.8; background-size: cover; color: white; border-color: #A0A0A0; } /* Elefántcsont */

/* gombsor */
.btn-group-container {
            margin-top: 50px;
            text-align: center;
}

.modal-login {
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login  .form-group {
	position: relative;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn, .modal-login .btn:active {	
	border: none;
	background: #00ce81 !important;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #00bf78 !important;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
